body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('card.jpg');
    background-size: cover;
    background-position: center;
    visibility: visible;
}

body:after {
    content: "";
    background-image: url('card.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 300%;
    height: 300%;
    opacity: .25;
    animation: grain 8s steps(10) infinite;
}

body:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation: flash 0.5s infinite alternate;
}

.content {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: -3vh;
}

.text {
    font: 'Shippori Mincho';
    src: url('ShipporiMincho-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    letter-spacing: -1px;
    color: #fff;
    text-shadow: #fff 1px 0 6px;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

@keyframes flash {
    0% { opacity: 0.0; }
    25% { opacity: 0.03; }
    50% { opacity: 0.02; }
    90% { opacity: 0.05; }
    100% { opacity: 0.09; }
}

@keyframes grain{
0%, 100% { transform:translate(0, 0) }
10%{
    transform:translate(-5%,-10%)
}
20%{
    transform:translate(-15%,-20%)
}
30%{
    transform:translate(-5%,-10%)
}
40%{
    transform:translate(-15%,-20%)
}

50%{
    transform:translate(-5%,-10%)
}
60%{
    transform:translate(-15%,-20%)
}
70%{
    transform:translate(-5%,-10%)
}
80%{
    transform:translate(-15%,-20%)
}
90%{
    transform:translate(-5%,-10%)
}
100%{
    transform:translate(-15%,-20%)
}
}



@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.glitch {
    animation: glitch 5s linear infinite;
}

.glitch:before,
.glitch:after{
  content: attr(data-text);
  position: absolute;
  left: 0;
}

.glitch:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.glitch:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}
